html, body {
    margin: 0;
    padding: 0;
}

:root {
    --roboto: 'Roboto', sans-serif;
    --bangers: 'Bangers', cursive;
    --blue1: #2980b9;
    --blue2: #3498db;
    --red1: #c0392b;
    --red2: #e74c3c;
    --green1: #27ae60;
    --green2: #2ecc71;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--roboto);
}

.containerChrono {
    border: 1px solid #000;
    width: 95%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}